.weather {
  max-height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: auto;
}

.city {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 20rem;
  height: auto;
}

.iconSkeleton {
  width: 80%;
  margin: 0 auto;
  max-width: 20rem;
  aspect-ratio: 1 / 1;
}

.temperature {
  width: max-content;
  margin: 1.5rem auto 0;
  position: relative;
  left: -1.5rem;
}

.temperatureValue {
  font-size: 7rem;
}

.temperatureUnits {
  position: absolute;
  font-size: 2.5rem;
  top: 0.7rem;
  right: -2.7rem;
}

.weatherMain {
  font-size: 2.5rem;
  text-align: center;
  color: var(--gold);
  text-transform: uppercase;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite;
  border-radius: 0.25rem;
  background: linear-gradient(
    110deg,
    #ececec0f 8%,
    #f5f5f52f 18%,
    #ececec0f 33%
  );
  background-size: 200% 100%;
  display: inline-block;
  width: 100%;
  max-width: 20rem;
}

/* To set the height of the skeleton */
.skeleton::before {
  content: "A";
  color: transparent;
  user-select: none;
}

@keyframes skeleton-loading {
  to {
    background-position-x: -200%;
  }
}
